In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [2]:
n_rows =5
n_cols=5

cols = tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10, size=(n_rows,n_cols)), columns = cols)
df

   A  B  C  D  E
0  5  3  1  3  4
1  2  7  8  9  5
2  2  1  5  6  7
3  2  5  6  1  8
4  3  3  8  1  9

In [3]:
#Untuk Membalik Urutan Kolom

df.loc[:,::-1]

   E  D  C  B  A
0  4  3  1  3  5
1  5  9  8  7  2
2  7  6  5  1  2
3  8  1  6  5  2
4  9  1  8  3  3

In [6]:
#Memeriksa kesamaan antar 2 kolom (Series) pada Data Frame
#IMPORT MODULES

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [7]:
#Persiapan data frame
data = {'A':[15,15,18,np.nan,12],'B':[15,15,18,np.nan,12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [8]:
#Mengenal Pandas Series
#Pandas Series pada dasarnya adalah kolom , setiap kolom pandas memiliki tipe data series

df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [9]:
type(df['A'])

pandas.core.series.Series

In [10]:
    type(df)

pandas.core.frame.DataFrame

In [11]:
#Memeriksa kesamaan dengan operator ==

df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [12]:
#Memeriksa kesamaan dengan methods equals()

df['A'].equals(df['B'])

True

In [13]:
#Memeriksa kesamaan antar dua dataframe

df1= df.copy(deep=True)

df.equals(df1)

True

In [14]:
df==df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True