In [19]:
import pandas as pd

print(pd.__version__)

2.0.3

In [22]:
#Data Frame yang akan digunakan
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

AttributeError: module 'pandas.util' has no attribute 'testing'

In [21]:
#Merubah kata index menjadi huruf Z
df= df.rename(columns={'index':'Z'})
df.head()

   A  B  C  D  E
0  8  5  2  2  7
1  1  6  9  8  2
2  6  4  2  7  3
3  6  7  2  9  2
4  8  8  9  2  6

In [23]:
#Merubah kata index menjadi huruf Z
df= df.rename(columns={'index':'Z'})
df.head()

   A  B  C  D  E
0  8  5  2  2  7
1  1  6  9  8  2
2  6  4  2  7  3
3  6  7  2  9  2
4  8  8  9  2  6

In [24]:
#untuk mengopy tabel sebelumnya
df_backup = df.copy(deep=True)

In [25]:
#Untuk menghapus atau drop setiap kolom yang mengandung missing values
df= df.dropna(axis='columns')
df.head()

   A  B  C  D  E
0  8  5  2  2  7
1  1  6  9  8  2
2  6  4  2  7  3
3  6  7  2  9  2
4  8  8  9  2  6

In [26]:
#Berfungsi untuk menghapus(drop) setiap baris yang mengandung missing values

df= df_backup.copy(deep=True) #untuk mengcopy data sebelumnya
df= df.dropna(axis='rows')
df.head()

   A  B  C  D  E
0  8  5  2  2  7
1  1  6  9  8  2
2  6  4  2  7  3
3  6  7  2  9  2
4  8  8  9  2  6

In [27]:
#Memunculkan presentase missing values untuk tiap kolom

df= df_backup.copy(deep=True)
df.isna().mean()

A    0.0
B    0.0
C    0.0
D    0.0
E    0.0
dtype: float64

In [28]:
Berfungsi untuk menghapus (drop) kolom yang mengandung missing values berdasarkanthreshold tertentu

treshold= len(df)*0.9 #pertama menentukan ambang batasnya terlebih dahulu

df= df.dropna(thresh=treshold, axis='columns')
df.head()

SyntaxError: invalid syntax (2908692879.py, line 1)